.prevVisitTable{
    font-size: 18px;  
    padding-top: 100px;
    position: relative;
    transform: translateX(50px);
}

.prevVisitTable table.table-striped {
    width:90%;

}

div.report_buttons{
  width: 100%;
}

button#seperate_button{
 transform: translateX(-50%);
}

.prevVisitTable .table-striped th{
    background-color: #4b494c;
    color:white; 
}

.prevVisitTable .table-striped>tbody>tr:nth-child(odd)>td
 {
   
   background-color: #E8E8E8; 
   color:#4b494c;
 }

 .prevVisitTable .table-striped>tbody>tr:nth-child(even)>td
 {
   background-color: white; 
   color:#4b494c;
 }
